################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsoleDownloadByUrl/v16
/ConsoleDownloadByUrl/bin/Debug
/ConsoleDownloadByUrl/obj/Debug
